# Include all runtime dependencies
!node_modules/**

# Exclude dev dependencies
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/**

# Exclude source files
src/**

# Exclude test files
test/**

# Exclude TypeScript config
tsconfig.json

# Exclude other unnecessary files from the extension package
tests
venv
.pypi_cache
.vscode/**
.github
.env
.gitignore
.mergify.yml
.pre-commit-config.yaml
Makefile
requirements
codespell.txt
out/**
*.ts
*.map
*.log
coverage/**
.git/**
.DS_Store
